body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    background-color: #217aff;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 0rem;
    color: #fff;
}

nav .logo {
    font-size: 10.rem;
    width: 30%;
}

nav .logo img {
    padding-top: 0px;
    width: 110px;
}

.nav-links {
    list-style-type: none;
    display: flex;
}

.nav-links li a {
    color: inherit;
    margin-left: 1rem;
    cursor: pointer;
    text-decoration: none;
}

.contents {
    min-height: 100vh;
    background-color: #ffffff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 1rem;
    margin: 0 auto;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
}

.btn {
    padding: 18px 34px;
    font-size: 18px;
    font-weight: 700;
    display: inline-block;
    margin-right: 24px;
    margin-bottom: 24px;
    color: #fff;
    background-color: #007bff;
    border-color: #2a7cff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    line-height: 1.5;
    border-radius: 0.15;
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.content-wrapper img {
    width: 90%;
    margin: 0 auto;
    padding-left: 60px;
}

/* responsive */

@media screen and (max-width:768px) {
    nav {
        flex-direction: initial;
        margin: 0rem;
    }

    nav .logo {
        margin-top: 2rem;
        text-align: left;
        width: 100%;
    }

    nav ul {
        padding-inline-start: 0;
        margin: 3rem;
    }

    h1 {
        margin-top: 0px;
    }

    .content-wrapper {
        max-width: 100% !important;
        margin-top: auto;
    }

    img {
        width: 60%;
        margin: 0 auto;
        padding: 2rem 0 2rem 0;
    }
}


@media screen and (min-width: 100px) {
    .contents {
        padding-top: 6rem;
    }
}
* {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}


body {
    font-family: "Blank Ops One", cursive;
    overflow: hidden;
    margin: 0;
    background: linear-gradient(0deg, #fafafa 0%, #5bcbfb 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    padding: 0 20px;
}

.slide {
    height: 80vh;
    border-radius: 20px;
    margin: 10px;
    cursor:pointer;
    color: #fdfd10;
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 0.7s ease-in-out;
    filter: blur(4px);
}

.slide h3 {
    position: absolute;
    font-size: clamp(1rem, 5vw, 5rem);
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
    background-color: #e3fdf5;
    background-image: linear-gradient(-225deg, #e3fdf5 0%, #ffe6fa 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slide.active {
    flex: 10;
    filter: blur(0px);
}

.slide.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

/* responsive */

@media screen and (max-width: 50rem) {

    .container {
        display: flex;
        height: 90vh;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        align-content: center;
    }

    .slide {
        width: 90vw;
        border-radius: 20px;
        margin: 10px;
    }

}